@using PagedList;
@using PagedList.Mvc;

@{
    ViewData["title"] = "Post";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="/Content/css/PagedList.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col" style="padding: 15px;">

        @foreach (var posts in ViewBag.postsData)
        {
            <div class="card mb-4">
                <div class="card-body" style="box-shadow: 0px 0px 20px rgb(224,224,224);padding-left: 7px;">
                    <div class="row" style="margin: 0px;">
                        <div class="col-xl-12 offset-xl-0">
                            <h1 style="font-family: 'Nanum Gothic Coding', monospace;font-size: 30px;"><a style="color: black;" href="Post/@posts.Id">@posts.Title</a></h1>
                            <p style="font-family: 'Nanum Gothic Coding', monospace;margin-top: -10px;">@posts.Description</p>
                            <p class="text-right" style="font-family: 'Nanum Gothic Coding', monospace;margin-bottom: 0px;">@posts.Date</p>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="text-center">
            @Html.PagedListPager((IPagedList)ViewBag.postsData, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>